/* * {
  outline: 1px solid red;
} */

html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
  background-image: url("imgs/background.jpg");
  background-size: cover;
}

.container {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr 1fr / repeat(4, 1fr);
  box-sizing: border-box;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0;
  background-image: url("imgs/store.jpg");
  background-size: cover;
}

header {
  grid-column: span 4;
}

h1, h3, p {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-weight: 400;
}

h1 {
  width: 90%;
  font-size: 48px;
}

h3 {
  width: 40%;
  font-size: 24px;
}

p {
  font-size: 22px;
}

img {
  display: block;
  margin: 0 auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 4;
}

.icon {
  width: 100px;
  margin: 0 30px;
}

.booking {
  grid-column: span 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  background-color: red;
  border: none;
  border-radius: 0.5em;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.booking-form {
  position: absolute;
  display: none;
  width: 80%;
  height: 90%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
}

form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form p {
  color: black;
}

input {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  max-width: 90%;
  border-radius: 0.5rem;
  padding: 0 20px;
  margin: 0;
  border: 1px solid #5e5e5e;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  color: #1c1c1c;
  outline: none;
}

input:focus {
  border: 1px solid black;
  box-shadow: 2px 2px 8px #cccccc;
}

form button {
  margin-top: 50px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}
